pre {
  border: 0.1rem solid black;
  height: fit-content;
  padding: 1rem;
  width: fit-content;
  white-space: pre-line;
}

code {
  width: 100%;
}

div.code-toolbar {
  width: fit-content;
  max-width: 100%;
}

.c-bolder {
  font-weight: bolder;  
}

.overflow-scroll {
  max-width: 100%;
  overflow: scroll;
}