@charset "UTF-8";

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  --lighter-white: #f8f8f8;
  --light-white: #cecece;
}

/* ELEMENTOS DA INTERFACE */

body {
  background-color: var(--lighter-white);
  background-image: linear-gradient(180deg, var(--lighter-white), var(--light-white));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  height: fit-content;
  width: auto;

  font-size: 62.5%;
}

body p {
  text-align: justify;
  font-size: 1rem;
  padding: 1rem;
}

body h1 {
  font-size: 3rem;
  padding: 1rem;
}

body h2 {
  font-size: 2.5rem;
  padding: 0.75rem;
}

body h3 {
  font-size: 2rem;
  padding: 0.5rem;
}

body h4 {
  font-size: 1.5rem;
  padding: 0.25rem;
}

body h5 {
  font-size: 1.1rem;
  padding: 0.1rem;
}

body h6 {
  font-size: 0.75rem;
  padding: 0;
}

header, main, section, article {
  max-width: 100%;
}

main, section, article {
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem #0009;
}

footer {
  display: block;
  width: 100%;
  background-color: #291f6c;
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 0.5rem;
}

a {
  color: #15142b;
  background-color: rgba(55, 41, 145, 0.1);
  padding: 0 0.3rem;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 0.05rem dotted #372991;
}

a:hover {
  color: #372991;
  border-bottom: 0.1rem solid #372991;
}

/* TABELAS E LISTAS */

table {
  border-spacing: 0;
  border: 0.05rem solid #372991;
  margin: 1rem auto;
  overflow: scroll;
}

table th {
  background-color: #372991;
  color: white;
  padding: 0.5rem;
  text-align: left;
}

table td {
  padding: 0.5rem;
}

table tr {
  background-color: rgb(230, 230, 255);
}

table tr:nth-child(odd) {
  background-color: rgb(180, 180, 230);
}

ul, ol {
  list-style: disc !important;
  list-style-type: disc !important;
  margin: 1rem !important;
  padding: 0rem !important;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 90%;
}

ul > li::marker {
  color: rebeccapurple;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
  background-color: rgba(55, 41, 145, 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
}

form label {
  display: block;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 100;
  background-color: rgba(55, 41, 145, 0.2);
  padding: 0.3rem 0.7rem;
  margin-top: 1rem;
  margin-bottom: 0;
  border-radius: 0.5rem;
}

input[type=text], [type=number], select, input[type=date],
input[type=date], input[type=datetime], input[type=email], input[type=month],
input[type=password], input[type=range], input[type=tel], input[type=time],
input[type=week] {
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 1rem solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  font-size: 1rem;
  color: white;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset] {
  width: 100%;
  background-color: #eb9903;
  font-size: 1rem;
  color: white;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #c27013;
}

input[type=button], button {
  width: 100%;
  background-color: #372991;
  font-size: 1rem;
  color: white;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

input[type=button]:hover, button:hover {
  background-color: #291f6c;
}

fieldset {
  border: 0.05rem dotted #372991;
}

fieldset > legend {
  font-size: 0.8rem;
  font-weight: 100;
  background-color: rgba(55, 41, 145, 0.2);
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
}

input[type=radio] + label, input[type=checkbox] + label {
  display: inline-block;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
}
