div.code-toolbar {
  width: fit-content;
  max-width: 100%;
}

div.code-toolbar pre {
  background-color: #333;
  padding: 0.75rem;
}

.c-bolder {
  font-weight: bolder;  
}

.overflow-scroll {
  max-width: 100%;
  overflow: scroll;
}

.code-result {
  background-color: rgb(39, 42, 222);
  border: 0.5rem inset gray;
  color: white;
  max-width: 100%;
  overflow: scroll;
  text-align: left;
  width: fit-content;
}
